# Node.js и Next.js стандарт
node_modules/
.env
logs/
*.log
*.save
*.save.*
.DS_Store

# Server logs
server/logs/

# Next.js build output
.next/
out/
dist/

# VS Code
.vscode/

# Локални временни файлове
*.local
